#background {
            background-image: url(/Images/myBackground.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }